@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

#check {
    display: none;
}

label {
    z-index: 1;
    width: 54px;
}

.material-icons {
    padding: 15px;
}

.menu {
    background-color: rgba(16, 16, 16, .5);
    width: 50vw;
    height: 100vh;
    left: -50vw;
    position: absolute;
    transition: all .5s;

}

#check:checked ~ .menu{
    transform: translateX(50vw);
}
#check:checked ~ label {
    transition: .5s;
    color: #FAFAFA;
}
 
ul {
    list-style: none;
    width: 100%;
    padding-top: 54px;
}

li {
    border-bottom: 1px solid #131313;
}

a {
    text-decoration: none;
    color: #FAFAFA;
    display: block;
    padding: 16px 32px;
}

a:hover {
    background-color: rgb(176, 224, 230);
    color: #131313;
}
