* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: aquamarine;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
    background-color: blueviolet;
}