@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

header {
    display: flex;
    flex-direction: column;
}

#check {
    display: none;
}

label {
    z-index: 1;
    background-color: #a25b32;
}

.material-icons {
    padding: 16px;
}

.menu {
    width: 40vw;
    height: 100vh;
    left: -40vw;
    position: absolute;
    /* transition: all .5s; */
    background-color: #FFEFBD;
}

#check:checked ~ .menu{
    transform: translateX(40vw);
}

#check:checked ~ label {
    transition: .5s;
    color: #FAFAFA;
}
 
ul {
    list-style: none;
    width: 100%;
    padding-top: 54px;
}

li {
    border-bottom: 1px solid rgba(162, 91, 50, 0.3);
}

a {
    text-decoration: none;
    color: #a25b32;
    display: block;
    padding: 16px 32px;
}

a:hover {
    background-color: #a25b32;;
    color: #FAFAFA;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
    }

    label {
        display: none;
    }
    .menu {
        width: 100vw;
        position: static;
    }

    li {
        display: inline;
    }

    a {
        display: inline-block;
    }
}