@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAFAFA;
}

header {
    display: flex;
    flex-direction: column;
}

#check {
    display: none;
}

.botao-burguer {
    padding: 16px;
    z-index: 1;
    color: #a25b32;
}

.nav {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    padding: 16px;
}

img {
    width: 2.5em;
}

.menu {
    width: 40vw;
    height: 100vh;
    left: -40vw;
    position: absolute;
    /* transition: all .5s; */
    background-color: #FFEFBD;
}

#check:checked~.menu {
    transform: translateX(40vw);
}

#check:checked~.botao-burguer {
    transition: .5s;
    color: #a25b32;
}

ul {
    list-style: none;
    width: 100%;
    padding-top: 54px;
}

li {
    border-bottom: 1px solid rgba(162, 91, 50, 0.3);
}

.link {
    text-decoration: none;
    color: #a25b32;
    display: block;
    padding: 16px 32px;
}

a:hover {
    background-color: #a25b32;
    ;
    color: #FAFAFA;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .botao-burguer {
        display: none;
    }

    .menu {
        width: 100vw;
        height: 60px;
        position: static;
        background-color: #FAFAFA;
    }

    ul {
        padding-top: 0px;

    }

    li {
        display: inline-block;
    }

}